<footer id="site-footer">
  <hr/>
  <div class="footer-intro footer-heading">
    <p><a href="mailto:info@atgdeliveranceministry.com" style="color:white; text-decoration: underline;">info@atgdeliveranceministry.com</a></p>
  </div>
    <div class="footer-intro">
      <p><q>Setting the captives free - Apostle Francis Musili</q></p>
    </div>
  <div class="container-footer-links">
    <div>
      <h3>PAGES</h3>
      <ul>
        <li><a href="index">Home</a></li>
        <li><a>About ATG</a></li>
        <li><a>Ministries</a></li>
        <li><a>Apostle Profile</a></li>
      </ul>
    </div>
    <div>
      <h3>ATG</h3>
      <ul>
        <li><a>Deliverance</a></li>
        <li><a>Publications</a></li>
        <li><a>Contact us</a></li>
        <li><a>Donation</a></li>
      </ul>
    </div>
    <div>
      <h3>ADDRESS</h3>
      <address>
        <p>Transchem House, Nairobi, Kenya</p>
        <p><b>Call: +2547 17 676 644</b></p>
        <br/>
        <p><a href="mailto:info@atgdeliveranceministry.com"><i class="fa-solid fa-envelope"></i></a>
          <i class="fa-brands fa-facebook"></i><i class="fa-brands fa-whatsapp"></i><i class="fa-brands fa-twitter"></i></p>
      </address>
    </div>
  </div>
  <div class="footer">
    <p>&copy; 2023 ATG Ministries</p>
  </div>
</footer>