<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width;initial-scale=1.0"/>
  <meta name="description" content="Welcome to ATG Deliverance Ministries">
  <meta name="author" content="emmatechlabs@gmail.com">
  <meta name="keywords" content="HTML, CSS, JS"/>
  <!--<link rel="dns-prefetch" href="https://www.youtube.com/" crossorigin>-->
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.jpg"/>
  <link rel="stylesheet" href="/assets/css/styles.css"/>
  <link rel="stylesheet" href="/fontawesome/css/all.css"/>

  <title>{{ page.title }}</title>
</head>