<!--
 * @Author: kieti emmatechlabs@gmail.com
 * @Date: 2023-04-24 10:12:30
 * @LastEditors: kieti emmatechlabs@gmail.com
 * @LastEditTime: 2023-04-27 15:30:09
 * @FilePath: \atg\_includes\head.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width;initial-scale=1.0"/>
  <meta name="description" content="Welcome to ATG Deliverance Ministries">
  <meta name="author" content="emmatechlabs@gmail.com">
  <meta name="keywords" content="HTML, CSS, JS"/>
  <!--<link rel="dns-prefetch" href="https://www.youtube.com/" crossorigin>-->
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.jpg"/>
  <link rel="stylesheet" href="{{ page.styles }}"/>
  <link rel="stylesheet" href="/fontawesome/css/all.css"/>

  <title>{{ page.title }}</title>
</head>