<nav id="navigation">
  <ul>
    <li class="active"><a href="/index">HOME</i></a></li>
    <li style="position: relative;" class="about-atg"><a>ABOUT ATG&ensp;<i class="fa-solid fa-caret-down"></i></a>
      <div class="dropdown">
        <ul>
          <li><a href="/pages/about-atg/gallery">Photo Gallery</a></li>
          <li><a href="/pages/about-atg/partners">Partners</a></li>
          <li><a href="/pages/about-atg/pastoral-team">Atg Pastoral team</a></li>
        </ul>
      </div></li>
    <li style="position: relative;" class="ministries"><a>MINISTRIES&ensp;<i class="fa-solid fa-caret-down"></i></a>
      <div class="dropdown">
        <ul>
        <li><a href="/pages/ministries/mercy-mission">Mercy Mission Ministry</a></li>
        <li><a href="/pages/ministries/crusades">Crusades</a></li>
        <li><a href="/pages/ministries/deliverance">Deliverance/ Healing Ministry</a></li>
        <li><a href="/pages/ministries/bible-school">Bible School</a></li>
        <li><a href="/pages/ministries/school">School & College Ministry</a></li>
        <li><a href="/pages/ministries/healing-pool">Healing Pool Ministry</a></li>
        <li><a href="/pages/ministries/iron-feet">Iron Feet Ministry</a></li>
      </ul>
    </div></li>
    <li><a href="/pages/profile">APOSTLE PROFILE</a></li>
    <li><a href="/pages/tv">DELIVERANCE TV</a></li>
    <li><a>PUBLICATIONS</a></li>
    <!--<li><a>CONTACT US</a></li>
    <li><a>DONATION</a></li>
    <li><a>REGISTER</a></li>-->
  </ul>
</nav>