<nav id="navigation">
  <ul>
    <li class="active"><a href="/index">HOME</i></a></li>
    <li style="position: relative;" class="about-atg"><a>ABOUT ATG&ensp;<i class="fa-solid fa-caret-down"></i></a>
      <div class="dropdown">
        <ul>
          <li><a>Photo Gallery</a></li>
          <li><a>Partners</a></li>
          <li><a>Atg Pastoral team</a></li>
        </ul>
      </div></li>
    <li style="position: relative;" class="ministries"><a>MINISTRIES&ensp;<i class="fa-solid fa-caret-down"></i></a>
      <div class="dropdown">
        <ul>
        <li><a>Mercy Mission Ministry</a></li>
        <li><a>Crusades</a></li>
        <li><a>Deliverance/ Healing Ministry</a></li>
        <li><a>Bible School</a></li>
        <li><a>School & College Ministry</a></li>
        <li><a>Healing Pool Ministry</a></li>
        <li><a>Iron Feet Ministry</a></li>
      </ul>
    </div></li>
    <li><a>APOSTLE PROFILE</a></li>
    <li><a>DELIVERANCE</a></li>
    <li><a>PUBLICATIONS</a></li>
    <li><a>CONTACT US</a></li>
    <li><a>DONATION</a></li>
    <li><a>REGISTER</a></li>
  </ul>
</nav>